body {
    color: white;
    text-align: justify;
    font-family: Arial;
    font-size: 19px;
}

#Titulo {
    text-align: center;
}

#corpo {
    margin-right: 29px;
    margin-left: 26px;
}

#It {
    color: rgba(255, 255, 255, 0.829);
    font-size: 17px;
}

#BZbanner {
    width: 550px;
    float: left;
    margin-right: 20px;
}

#Tracer {
    float: right;
    margin: 20px;
}

iframe {
    float: left;
    margin: 20px;
}

a {
    text-decoration: none;
    color: rgb(70, 70, 218);
}