header {
    background-color: rgb(43, 31, 110);
    color: rgb(211, 192, 192);
    border-radius: 0px 0px 23px 23px;
    margin: 0px;
    padding: 12px;
    border: 0px;
    text-align: center;

}

#logo {
    margin: 8px;
    position: absolute;
    padding: 0px;
    width: 260px;

}

#PI {
    margin-left: 278px;

}

button {
    width: 180px;
    height: 70px;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border:none;
    transition:ease-in-out 400ms;
}

button:hover {
    background-color: rgb(9, 4, 37);
    
}

body {
    margin-top: 0px;
    background-color: rgb(1, 1, 15);
    font-family: Arial;
}